.activity{
	.activity-intro{
		@extend .background-image;
		.content{
			width: 100%;
			margin: auto auto;
			padding: 30px 50px;
			box-sizing: border-box;

			@include breakpoint($screen-sm-min){
				width: 45%;	
				margin: 0 0 0 auto;
				min-width: 600px;
			}
		}
	}
}