footer{
	.menu{
		padding: 0;
		list-style: none;
		margin: 0;
		display: flex;
		justify-content: center;
		li{
			a{
				padding: 7px 25px;
				border-right: 2px solid $brand-primary;
				&:last-child{
					border-right: 0;
				}
			}
		}
	}
	#site-legal{
		font-size: 13px;
		a, div{
			color: #fff;
		}
	}
}