.site-header{
	z-index:999;
	box-shadow: 0 0 4px 1px $brand-secondary;
	display:none;

	.mobile-toggle,.navbar-header{
		display:none;
	}

	&.sticky-header{
		position:fixed;
		width:100%;
		left:0;
		top:0;
		background-color: $sticky-header-bg-color;
	}
	.header-content{
		.utility-bar{
			font-size: 14px;
			background-color:black;
			display:none;
			padding: 0 gutter();

			@include breakpoint($screen-sm-min){
				display:block;
			}

			>div{
				display: flex;
    			justify-content: space-between;
    			.left{
    				display:flex;
    				align-items:center;
					.lg-social-media-cont{
						.lg-social-media{
							padding: 0;
						    margin: 0;
						    list-style: none;
						    display: flex;
						    li{
						    	a{
									width: 40px;
								    height: 40px;
								    display: flex;
								    text-align: center;
								    justify-content: center;
								    align-items: center;
								    background-color: $brand-primary;
						    		i{
										color:#fff;
						    		}
						    	}
						    }
						}
					}
					.header-address{
    					color:#fff;
    					.fa-map-marker{
    						color:$brand-secondary;
    						font-size:15px;
    					}
					}
    			}
    			.right{
					display:flex;
					align-items:center;
					>div{
						padding-left:15px;
						span{
							color:#fff;
						}
						i{
							color:$brand-secondary;
							font-size:15px;
						}
					}
    			}
			}
		}
		.header-main{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: $header-block-padding;
			flex-wrap: wrap;
			background-color: $bg-color-main;
			
			.site-branding{
				.logo{
					width: $header-logo-width;
					font-family: $logo-font-family;

					@include breakpoint($screen-sm-min){
						width: $header-logo-width-sm;
					}

					@include breakpoint($screen-md-min){
						width: $header-logo-width-md;
					}

					img{
						width:100%;
						display:block;
					}
				}

				a{
					color: $brand-primary;
					font-size: 21px;
					font-variant: small-caps;
					letter-spacing: 2px;

					@include breakpoint($screen-sm-min){
						font-size: 25px;
					}
				}
			}
			@media (max-width: $screen-sm-min - 1){
				&{
					padding:0;
				}
				.site-branding{
					display:flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					padding: gutter();
				}
				.main-navigation{
					width:100%;
				}
				.navbar{
				    .navbar-collapse{
				    	margin:0;
				    	overflow:hidden;
				    	padding:20px 0;
				    	background-color: #973d1f;
				    	a{
				    		color:#fff;
				    	}
				    	.navbar-nav{
				    		margin:0;
				    	}
				    }
				}
				.mobile-toggle{
					display: block;
					margin-top: 5px;
				}
				
			}
		}

		.main-navigation{
			.navbar{
				border: 0;
			}
			
			@include breakpoint($screen-sm-min){
				.nav.navbar-nav{
					float: right;
				}
				.nav>li{
					position: initial;
					&.opened{
						>.dropdown-toggle::after{
							content: '';
						    position: absolute;
						    left: 50%;
						    bottom: 0;
						    transform: translateX( -50% );
						    width: 0;
						    height: 0;
						    border-left: 10px solid transparent;
						    border-right: 10px solid transparent;
						    border-bottom: 10px solid black;
						    opacity: .8;
						}
					}
					.dropdown-menu{
						width: 100vw;
    					background-color: #000;
    					opacity: .8;
    					padding: 10px;
    					border:0;
    					border-radius: 0;
    					text-align: right;

    					li{
    						display: inline-block;
	    					a{
	    						color: #fff;
	    						&:hover{
	    							color: $brand-primary;
	    						}
	    					}
    					}
					}
				}
			}
			@media only screen and (max-width: $screen-sm-min){
				.dropdown-menu{
					position:relative;
					float:none;
					background-color: #000;
					border:0;
					li{
						padding: 5px 0;
						a{
							color:#fff;
						}
					}
				}
			}
		}		
	}
}