.membership{
	.membership-list{
		@extend .background-image;
		>div{
			width: 100%;
			margin: auto auto;
			padding: 30px 50px;
			box-sizing: border-box;

			display: flex;
			flex-wrap: wrap;
			>div{
				width: 100%;
				padding: 15px;
				box-sizing: border-box;

				@include breakpoint($screen-sm-min){
					width: 33.33%;
				}
			}
		}
	}
}