.pll-parent-menu-item{
	list-style: none;
	position: relative;
	text-transform: uppercase;
	ul.sub-menu{
		padding-left: 0;
		position: absolute;
		left: 0;
		bottom: calc( 100% + 7px );
		display:none;
		width: max-content;
		background-color: #333;
		overflow: visible;
		li{
			padding: 7px 0;
			border-bottom: 1px solid $brand-primary;
			list-style: none;

			&:last-child{
				border-bottom: 0;
			}
		}
	}
}