h2{
    hr{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        @extend .mb-lg;
    }
}

.cta {
    padding: 8px 12px 5px 12px;
    min-width: 100px;
    border: 1px solid $brand-primary;
    font-size: .9rem;
    text-align: center;
}

.cta-gold-hover {
    background-position: 1% 50%;
    background: linear-gradient(270deg, $brand-primary, $brand-primary, rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
    border-color: $brand-primary;
    background-size: 300% 300%;
    transition: all .5s ease-out;
    &:hover {
        color: #000;
        text-decoration: none;
        background-position: 99% 50%;
    }
}

.heading{
    text-transform: uppercase;
    color: black;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    >div{
        width: 50%;
        a.modal-video{
            display: block;
            position: relative;

            >div{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate( -50%, -50% );
                .fa-play-circle{
                    display: block;
                    font-size: 60px;
                }
            }
            img{
                width: 100%;
            } 
        }

        @include breakpoint($screen-sm-min){
            width: 33.33%;
        }
    }
}

.background-image{
    @extend .pt-lg;
    @extend .pb-lg;

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1000px;
}

.uppercase{
    text-transform: uppercase;
}

.lowercase{
    text-transform: lowercase;
}

.page-title{
    color: $brand-primary;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: right;

    @include breakpoint($screen-sm-min) {
        margin-bottom: gutter();
    }
}

.bg-gold-gradient {
    background: linear-gradient(to right, $brand-primary-lighter, $brand-primary-lighter, $brand-primary-lighter, $brand-primary, $brand-secondary, $brand-primary, $brand-primary-lighter, $brand-primary-lighter,$brand-primary-lighter);
}

.social-medias {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: $small-line-height;
    color: #000;
    >div:first-child {
        margin-top: 5px;
    }
    .lg-social-media {
        margin: 0;
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        margin-left: 10px;
        align-items: center;
        li {
            padding-right: 7px;
            &:last-child {
                padding: 0;
            }
            a {
                display: block;
                i {
                    color: #000;
                    font-size: 16px;
                    display: block;
                }
            }
        }
    }
}


/* ---- Videos ---- */

.video {
    width: 100%;
    display: block;
}

.top-feature {
    position: relative;
    .top-feature-video {
        .overlay {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            padding: 15px;
            max-width: 800px;
            text-align: right;
            text-shadow: 2px 2px 5px #333;

            @media (max-width: $screen-sm-min - 1) {
                p {
                    display: none;
                }
            }
        }
        .second-video{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate( -50%, -50%);
            z-index: 9;
            .fa-play-circle{
                font-size: 60px;
            }
        }
        .pll-language-switcher {
            a {
                font-size: inherit;
            }
        }
        .feature-video-scroll-down {
            width: 100px;
            text-align: center;
            display: block;
            margin: 0 0 0 auto;
            font-size: 40px;
            color: #fff;
            cursor: pointer;
        }
    }
}



/* ---- Pll language switcher ---- */

.pll-language-switcher {
    display: block;
    margin: 0 0 0 auto;
    position: relative;
    z-index: 99;
    width: 100px;
    text-transform: uppercase;
    .language-sub-menu {
        position: absolute;
        width: max-content;
        width: 100%;
        top: 100%;
        right: 0;
        background: #333;
        display: none;
        a {
            border-bottom: 1px solid $brand-primary;
            &:last-child {
                border-bottom: 0;
            }
        }
    }

    .current-language a,
    .language-sub-menu a {
        padding: 8px 10px;
        font-size: 13px;
        display: block;
        text-align: center;
    }
}


/* ---- Video Modal ---- */

#video-modal-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    display: none;
    z-index: 999;

    .video-modal {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        max-width: $screen-md-min;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate( -50%, -50%);

        &.playing {
            .play-button {
                display: none;
            }
        }

        .video-in-modal {
            video {
                width: 100%;
                display: block;
            }
        }
        .modal-video-close {
            position: absolute;
            bottom: calc( 100% - 15px );
            right: 15px;
            line-height: 100%;
            font-size: 23px;
            padding: 6px 11px;
            background-color: #000;
            color: #fff;
            cursor: pointer;
            z-index: 3;
        }
        .play-button {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 2;
            background-color: rgba(255, 255, 255, .4);
            cursor: pointer;
            .fa-play-circle {
                font-size: 70px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate( -50%, -50%);
            }
        }
    }
}

.fa-play-circle {
    color: #fff;
    opacity: .85;
}

// Grid Box
.grid{
    width: 100%;
}
.grid-item {
    float: left;
    width: 100%;
    min-height: 250px;
    img {
        width: 100%;
    }
}

.grid-item {
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@include breakpoint($screen-sm-min - 1) {
	.grid-sizer{
	    width: 33.33%;
	}

	.grid-item--width1{
		width: 33.33%;
	}

	.grid-item--width2{
		width: 66.66%;
	}

	.grid-item--height1{
		height: 33.33vw;
	}

	.grid-item--height2{
		height: 66.66vw;
	}
}

.grid-item.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    p {
        width: 100%;
        max-width: 300px;
    }
    .social-medias {
        color: $brand-primary;
        .lg-social-media {
            i {
                color: $brand-primary;
            }
        }
    }
}

.grid-overlay {
    .overlay {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .8);

        &.hover-state {
            hr {
                display: block;
            }
        }

        .title {
            text-align: center;
            h2 {
                margin: 0;
                padding: 15px 0;

                @include breakpoint($screen-sm-min) {
                    padding: 25px 0;
                }
            }
            .fa-chevron-right {
                position: absolute;
                right: 40px;
                display: inline-block;
                font-size: 17px;
                margin-top: 1px;

                @include breakpoint($screen-sm-min) {
                    display: none;
                }
            }
        }
        hr {
            width: 90%;
            max-width: 400px;
            margin: auto auto;
            display: none;
        }
        .content {
            padding: 15px 5px 0 5px;
            max-width: 500px;
            margin: 0 auto 1.2em auto;
            text-align: center;
            display: none;
        }
    }
}

.grid-item {
    h2{
        color: #fff;
    }
    >.modal-video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: calc( 100% - 49px);

        >div {
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate( -50%, -50%);
            text-align: center;
            color: #fff;
            .fa-play-circle {
                display: block;
                font-size: 60px;
            }
        }
    }
}

// ---- Gravity Forms on Contact Us Page
.g-form{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    >div{
        max-width: 800px;
        margin: auto auto;

        .ginput_container{
            border: 1px solid #444;
            margin-bottom: gutter() * 2;
        }

        .gfield_label{
            font-weight: $base-font-weight;
        }

        input, textarea, select{
            background: transparent;
            border :0;
            color: #fff;
            width: 100% !important;
            height: 38px;
        }

        .selectric{
            background-color: transparent;
            border: 0;
            span{
                color: #fff;
                text-align: left;
                padding: 0;
            }
        }
        .selectric-items{
            background-color: $lighter-gray;
            border: 0;
            li{
                color: #fff;
                border-bottom: 1px solid $brand-primary;
                &:hover{
                    background-color: $darker-gray;
                }
                &:last-child{
                    border-bottom: 0;
                }
                &.selected{
                    background-color: #999;
                }
            }
        }
    }
}