.container{
	max-width: $container-width;
	margin-left: auto;
	margin-right: auto;
}

// Site Content
.site-content{
	width: susy-span(12);
	background-color: #000;

	.body-copy{
		@extend .container;
		padding: 0 gutter(); 
	}
}

// Site Footer 
.site-footer{
	padding: $footer-block-padding;
	background-color: #18170f;
	#site-footer{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		.nav-footer{
			width: susy-span(12);
			margin-bottom: gutter();
			margin-top: gutter();

			@include breakpoint($screen-sm-min){
				width: susy-span(6);	
			}


			@include breakpoint($screen-lg-min){
				width: susy-span(3);	
			}
		} 
		
		.blog-feed{
			width: susy-span(12);
			margin-bottom: gutter();

			@include breakpoint($screen-sm-min){
				order: -1;
			}

			@include breakpoint($screen-lg-min){
				order: initial;
				width: susy-span(6);
			}
		}

		.footer-utility{
			width: susy-span(12);
			margin-bottom: gutter(); 

			@include breakpoint($screen-sm-min){
				width: susy-span(6);	
			}

			@include breakpoint($screen-lg-min){
				width: susy-span(3);	
			}			
		}
	}

	#site-legal{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		@include breakpoint($screen-xs-min){
			flex-direction: row;
		}
		
		.site-info{
			width: susy-span(12);
			text-align: center;

			@include breakpoint($screen-xs-min){
				width: susy-span(6);
				text-align: left;
			}
		}

		.site-longevity{
			width: susy-span(12);
			text-align: center;


			@include breakpoint($screen-xs-min){
				width: susy-span(6);
				text-align: right;
			}
		}
	}

}
