@font-face {
	font-family: 'OptimaMedium';
	src: url('/wp-content/themes/wp-web-canadian_hunting_club/assets/dist/fonts/OptimaMedium.eot');
	src: local('☺'), url('/wp-content/themes/wp-web-canadian_hunting_club/assets/dist/fonts/OptimaMedium.woff') format('woff'), url('/wp-content/themes/wp-web-canadian_hunting_club/assets/dist/fonts/OptimaMedium.ttf') format('truetype'), url('/wp-content/themes/wp-web-canadian_hunting_club/assets/dist/fonts/OptimaMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body{
	font-size: $base-font-size;
	font-family: $font-family-base;
	line-height: $line-height-base;
	font-weight: $base-font-weight;

	@include breakpoint($screen-sm-min){
		font-size: $base-font-size-sm;
	}

	@include breakpoint($screen-md-min){
		font-size: $base-font-size-md;
	}
}

.navbar-nav, .menu{
	a{
		font-size: $navbar-font-size;

		@include breakpoint($screen-sm-min){
			font-size: $navbar-font-size-sm;
		}

		@include breakpoint($screen-md-min){
			font-size: $navbar-font-size-md;
		}
	}
}

blockquote{
	font-size: inherit;
}

.sticky-header{
	.mobile-toggle{
		font-size: 25px;
		cursor: pointer;
	}	
}

a{
	font-weight: $link-font-weight;
}

.h1{
	font-size: $font-size-h1-sm;
	@include breakpoint($screen-sm-min){
		font-size: $font-size-h1;
	}
}

.h2{
	font-size: $font-size-h2-sm;
	@include breakpoint($screen-sm-min){
		font-size: $font-size-h2;
	}
}

.h3{
	font-size: $font-size-h3-sm;
	@include breakpoint($screen-sm-min){
		font-size: $font-size-h3;
	}
}