// ---- Susy Grid

$susy: (
  'columns': susy-repeat(12),
  'gutters': 15px, 
  'spread': 'narrow', 
  'container-spread': 'narrow',
);

$container-width: 1200px;
 
// ----- Font Awesome

$fa-font-path:        						"./assets/dist/fonts";

// ---- Font Family

$font-family-base:							'OptimaMedium';
$headings-font-family:    					'OptimaMedium';
$logo-font-family: 							'PT Serif', serif;

// ---- Padding

$padding-base-vertical: 					10px;

// ---- Colors

$gray-base:              					#000;
$gray-darker:            					lighten($gray-base, 13.5%); // #222
$gray-dark:              					lighten($gray-base, 20%);   // #333
$gray:                   					lighten($gray-base, 33.5%); // #555
$gray-light:             					lighten($gray-base, 46.7%); // #777
$gray-lighter:           					lighten($gray-base, 93.5%); // #eee

$lighter-gray:								#666666;
$darker-gray:								#333;

$brand-primary:          					#d2b767;
$brand-secondary:        					#F1EB89;
$brand-primary-lighter:						#8A6E2C;

$headings-color:          					$brand-primary;

$bg-color-main:								#000;

// ---- Header

$header-block-padding: 						20px 25px;

$header-logo-width: 						initial;
$header-logo-width-sm: 						initial;
$header-logo-width-md: 						initial;

// ---- Footer

$footer-block-padding:						15px;

//Sticky Header

$sticky-header-bg-color:					#fff;

// ---- Nav Bar

$navbar-default-bg: 						transparent;

$navbar-font-size:							12px;
$navbar-font-size-sm:						12px;
$navbar-font-size-md:						12px;

$navbar-margin-bottom:          			0;
$navbar-height:                 			0;
$navbar-border-radius:          			0;

$navbar-default-link-color:     			#fff;

$navbar-default-link-hover-color:          	$bg-color-main;
$navbar-default-link-hover-bg:             	transparent;

$navbar-default-link-active-color:         	#fff;
$navbar-default-link-active-bg:            	transparent;

$navbar-padding-vertical:					15px;

// ---- Dropdown

$dropdown-link-hover-bg:					transparent;
$dropdown-link-active-bg:					transparent;

// ---- Typography 

$base-font-size:         	  				15px;
$base-font-size-sm:          				15px;
$base-font-size-md:         				14px;

$line-height-base:        					1.5;
$line-height-computed:						1.5;
$small-line-height:							1.3;

$font-size-h1:            					3rem;
$font-size-h1-sm:							2rem;
$font-size-h2:            					1.4rem;
$font-size-h2-sm:							1.2rem;
$font-size-h3:            					1.2rem;
$font-size-h3-sm:							1.2rem;

$base-font-weight:							400;
$headings-font-weight:    					500;
$headings-line-height:    					1.1;


// ---- Link
$link-color:            					$brand-primary;
$link-hover-color:      					$brand-primary;
$link-font-weight:							normal;

// ---- Text
$text-color:								#fff;

// ---- Media Query
$screen-xs-min: 480px;
$screen-sm-min: 769px;
